Package:
Version:
Section: utils
Priority: optional
Architecture: all
Installed-Size:
Depends: bash, coreutils, awk, util-linux
Build-Depends: make
Maintainer:
Homepage: https://hotonebie.com
Description: Create and enable zram swap devices
    This package provides a simple script to create and enable zram swap devices.
Source: https://github.com/MichaelSchaecher/simple-zram
