Source: zswapd
Section: admin
Priority: optional
Maintainer: MLS Tidbits <contact@mlstidbits.com>
Rules-Requires-Root: no
Build-Depends:
 dh-gitchangelog, git, debhelper-compat (= 13), dh-make, lintian (>= 2.5.0), pandoc
Standards-Version: 4.6.2
Homepage: https://mlstidbits.com
Vcs-Browser: https://github.com/MLSTidbits/zswapd
Vcs-Git: https://github.com/MLSTidbits/zswapd.git

Package: zswapd
Architecture: any
Multi-Arch: foreign
Depends:
 bash, coreutils, util-linux, bash-completion, systemd, nano
Description: Setup zswapd  as your swap partition.
 zswapd is a daemon that manages the zswap compressed cache for swap pages.
 It allows you to configure the size of the cache, the compression algorithm,
 and other parameters to optimize performance.
 .
 This package provides a systemd service to manage zswapd automatically.
 It also includes a configuration file for easy customization.

