#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

# what is being installed
app = $(CURDIR)/zswapd
app_conf = $(CURDIR)/zswapd.conf
app_service = $(CURDIR)/zswapd.service
app_completion = $(CURDIR)/completion/zswapd

modprobe = $(CURDIR)/zswapd-load-zram.conf

copyright = $(CURDIR)/COPYING
readme = $(CURDIR)/README.md
coc = $(CURDIR)/CODE_OF_CONDUCT.md

version = $(CURDIR)/docs/version

# The manpage is written in Markdown format and requires pandoc to convert it.
app_man = $(CURDIR)/man/zswapd.1.md

# The directories where the files will be installed.
etc_dir = $(CURDIR)/debian/zswapd/etc
modprobe_dir = $(CURDIR)/debian/zswapd/etc/modules-load.d
docs = $(CURDIR)/debian/zswapd/usr/share/doc/zswapd
app_bin = $(CURDIR)/debian/zswapd/usr/bin
bash_completion = $(CURDIR)/debian/zswapd/usr/share/bash-completion/completions
man = $(CURDIR)/debian/zswapd/usr/share/man/man1
systemd_dir = $(CURDIR)/debian/zswapd/usr/lib/systemd/system

build: build-stamp

build-stamp:
	dh_auto_build
	touch build-stamp

clean:
	dh_auto_clean
	rm -f build-stamp

directories:

install: build clean $(app) $(app_conf) $(app_service) $(app_completion) $(copyright) \
	$(readme) $(coc) $(version) $(app_man) $(modprobe)

	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 755 -p $(etc_dir) $(docs) $(app_bin) $(bash_completion) $(man) $(systemd_dir) \
		$(modprobe_dir)

	# Need to convert the Markdown manpage with pandoc.
	@pandoc man/zswapd.1.md -s -t man -o man/zswapd.1

	gzip -vf9 man/zswapd.1

	install -m 644 man/zswapd.1.gz $(man)/

	install -m 755 $(app) $(app_bin)/zswapd
	install -m 644 $(app_conf) $(etc_dir)/
	install -m 644 $(modprobe) $(modprobe_dir)/

	install -m 644 $(app_service) $(systemd_dir)/
	install -m 644 $(copyright) $(docs)/copyright
	install -m 644 $(readme) $(docs)/README.md
	install -m 644 $(coc) $(docs)/CODE_OF_CONDUCT.md
	install -m 644 $(version) $(docs)/version
	install -m 644 $(app_completion) $(bash_completion)/

binary-indep: install
	dh_installdocs
	dh_installchangelogs $(changelog)
	dh_installman
	dh_installmime
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean install binary-indep binary-arch binary
